.body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}
 /* header / nav bar part */
.nav-bar {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.header-logo {
    background-color: #1f2937;
    display: flex;
    width: 100px;
    height: 100px;
    padding: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a {
    /* to remove underline of links */
    text-decoration: none;
    color: white;

}

/* Hero section */

.hero {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center; 
    padding: 50px;
}

.hero-text {
    flex-basis: 450px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 80px;
}

.hero-img {
    width: 200px;
    height: 200px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB
}

.hero button {
    cursor: pointer;
    text-align: center;
    color: #F9FAF8;
    background-color: #3882f6;
    display: inline-block;
    border-radius: 12px;
    width: 200px;
    border: none;
}

/* image content section */

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.individual img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.individual {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.image-content {
    display: flex;
    justify-content: center;
    gap: 60px;
}

